<div class="flex w-full bg-white py-3 px-5 h-[70px] items-center justify-between shadow fixed z-50">
    <!-- Navbar Brand -->
    <div class="flex">
        <img src="../../../../../assets/image/logo.png" alt="logo">
    </div>

    <!-- Search -->
    <div class="flex w-5/12">
        <p-iconField iconPosition="right" class="w-full">
            <p-inputIcon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Cari parfum kesukaanmu" class="p-inputtext-sm w-full">
        </p-iconField>
    </div>

    <!-- Button -->
    <div class="flex gap-3 items-center">
        @if (Customer) {
        <p class="text-gray-700 font-medium text-sm mr-3">
            <i class="pi pi-user text-sky-500" style="font-size: 12px"></i>&nbsp;
            {{ Customer.nama }}
        </p>

        <p-button severity="info" label="Keluar" styleClass="p-button-sm p-button-outlined" (onClick)="handleSignOut()">
        </p-button>
        } @else {
        <p-button severity="info" label="MASUK" styleClass="p-button-sm p-button-outlined"
            (onClick)="handleNavigateUrl('/login')">
        </p-button>

        <p-button severity="info" label="DAFTAR" styleClass="p-button-sm" (onClick)="handleNavigateUrl('/login')">
        </p-button>
        }
    </div>
</div>